[Unit]
Description=ax as-set filter daemon
After=network.target

[Service]
ExecStart=/bin/bash -c 'while true; do python3 /opt/axaf/main.py; sysctl -p; birdc c; sleep 3600; done'
WorkingDirectory=/opt/axaf
RemainAfterExit=true
User=root
Group=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
